{% extends 'base.html' %}

{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{# content block 재정의 #}
{% block content %}
<div id="content_home">
    <div id="homeing">
        <a href="/"><img src="{% static 'img/꼬부기.jpg' %}" style="height: 256px;"/></a>
        <h4 style="margin:0;">This is Django powered web site.</h4>
    </div>

    {# 그림 밑에 5px 간격을 두고 수평선을 출력 #}
    <hr style="margin: 5px 0;">

    <h2>Select Application</h2>

    <table id="applist">
        <tr>
            <td><b><i><a href="{% url 'bookmark:index' %}">Bookmark</a></i></b></td>
            <td>You can write your own post and share to others.
                Donec id elit non miporta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo</td>
            <td class="Edit"><i><a href="#">Add</a></i></td>
            <td class="Edit"><i><a href="#">Change</a></i></td>
        </tr>

        <tr>
            <td><b><i><a href="{% url 'blog:index' %}">Blog</a></i></b></td>
            <td>You can write your own post and share to others.
                Donec id elit non miporta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo</td>
            <td class="Edit"><i><a href="#">Add</a></i></td>
            <td class="Edit"><i><a href="#">Change</a></i></td>
        </tr>

        <tr>
            <td><b><i><a href="#">Photo</a></i></b></td>
            <td>You can write your own post and share to others.
                Donec id elit non miporta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo</td>
            <td class="Edit"><i><a href="#">Add</a></i></td>
            <td class="Edit"><i><a href="#">Change</a></i></td>
        </tr>
    </table>
</div>
{% endblock content%}

{# content block  #}
{% block footer %}
<div id="footer">
    &copy; dksshddl 2018
</div>
{% endblock footer%}

